* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #909380;
            color: #4a3a30;
            background-attachment: fixed;
        }

        .container {
            background-color: #fef5e4;
            width: 100%;
            max-width: 450px;
            margin: 40px auto;
            padding: 30px;
            border-radius: 16px;
            box-shadow:
                0 6px 16px rgba(0, 0, 0, 0.15),
                0 2px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #d8d4c6;
            text-align: center;
        }

        h1 {
            color: #909380;
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 24px;
        }

        p {
            font-size: 1.1em;
            margin-bottom: 28px;
            line-height: 1.5;
        }

        .btn-success {
            display: inline-block;
            padding: 12px;
            background-color: #edc1ac;
            color: white;
            text-decoration: none;
            border-radius: 8px;
            font-weight: bold;
            font-size: 1.1em;
            transition: background-color 0.2s;
        }

        .btn-success:hover {
            background-color: #c38b5e;
        }

       
        /* Адаптивность */
        @media (max-width: 480px) {
            .container {
                margin: 20px;
                padding: 20px;
            }

            h1 {
                font-size: 1.6em;
            }

            p {
                font-size: 1em;
            }
        }